<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
		<p>
			This email is in regard to you requesting a password reset. Click on the following link to reset your password. This link is only valid once.
		</p>

		<p>
		</p>
      URL LINKING TO PASSWORD RESET PAGE http://prophety-test.herokuapp.com/reset-password?email=<%=@email%>&hash=<%=@hash%>&profile=<%=@profile%>
  </body>
</html>
