<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h5>Hi <%= @property_buyer["buyer_name"] %></h5>
    <h5>Offer Made</h5>
    <h6>Offer has been made against property with address <%= @udprn_address =%> .<h6>
  </body>
</html>