<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email %></h1>

    <p>
      Thank you for verifying your email address. 
    </p>

    <p>
      Please click on the following link and login to your new Prophety® account where you can search over 29m properties and find your dream property!
    </p>

    <p>
      <%= @link %>
    </p>

    <p>
      The Prophety® Team
    </p>

  </body>
</html>
