.text-center
  = link_to (property_user_facebook_omniauth_authorize_path+ "?detail_id=#{((@detail.id) rescue "")}")
    Sign in using Facebook
  = link_to property_user_google_oauth2_omniauth_authorize_path+"?detail_id=#{((@detail.id) rescue "")}"
    Sign in using Google+
