<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/underscore.min.js"></script>
<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/jquery.min.js"></script>
<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/backbone.min.js"></script>
<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/backbone-forms.min.js"></script>
<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/bootstrap.min.js"></script>
<script src="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/jasny-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-161-150.ap-south-1.compute.amazonaws.com/jasny-bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css"/>

<div class="col-md-6">
  <div class="row" style="margin: auto;text-align: center;">
    <h1>Step 1 out of 3</h1>
    <h2 id="page_header"></h2>
    <p>
      Complete Registration
    </p>
    <p>
      We have sent an email to [​email submitted​]. Please can you open it and click on the ‘Complete signup’ option so you can discover how many buyers want to buy properties like [​ address of property claimed]​ .
      Discover the best time to sell and the right time to buy.
    </p>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    
  });



</script>
