<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/underscore.min.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/jquery.min.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/backbone.min.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/backbone-forms.min.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/bootstrap.min.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/jasny-bootstrap.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/selectize.js"></script>
<script src="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/bootstrapValidator.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/jasny-bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="http://ec2-52-66-161-139.ap-south-1.compute.amazonaws.com/selectize.min.css"/>

<div class="col-md-12">
  <div class="row" style="margin: auto;text-align: center;">
    <p>Congratulations
START TRACKING YOUR QUOTE/S!
We sent you [​menu type​] request to [​audience​].
You can see their quote/s arrive in real­time via your quotes page! Best of luck with your impending sale.</p>
    <%= link_to("Edit property page", "/properties/#{@udprn}/edit") %>
  </div>

</div>
