<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @email %></h1>

    <p>
      Thank you for verifying your email address. 
    </p>

    <p>
      Please click on the following link to login to your new Prophety® account and claim your property! You're seconds away from unlocking real-time supply and demand information for like for like properties locally so you have access to 'live' market conditions all year round.
    </p>

    <p>
      <%= @link %>
    </p>

    <p>
      The Prophety® Team
    </p>

  </body>
</html>
